<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.TpGradeEvaluatMapper">

    <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.system.TpGradeEvaluat">
        <id column="evaluat_Id" property="evaluat_Id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="templet_Id" property="templet_Id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">

        evaluat_Id, uid, templet_Id

    </sql>

    <select id="findUid" resultType="String">
        select
        uid
        from tp_grade_evaluat
        where
        templet_Id = #{templet_Id}
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from tp_grade_evaluat
        where templet_Id = #{templet_Id}
    </delete>

</mapper>