<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.TpGradeRecordMapper">

    <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.system.TpGraderecord">
        <id column="templet_Id" property="templet_Id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="explain" property="explain" jdbcType="VARCHAR"/>
        <result column="peonum" property="peonum" jdbcType="INTEGER"/>
        <result column="res_Id" property="res_Id" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="ResResultMap" type="com.gameloft9.demo.dataaccess.model.system.TpResourcesList">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="resKind" property="resKind" jdbcType="VARCHAR"/>
        <result column="resNum" property="resNum" jdbcType="INTEGER"/>
        <result column="resName" property="resName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">

        record_Id, templet_Id, r_time, resId

    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        rec.record_Id,
        (select title from tp_grade_templet where templet_Id = rec.templet_Id) as templet_Id,
        rec.r_time,
        (select resName from tp_resourcelist where id = rec.resId) as resId
        FROM tp_grade_templet as tem, tp_grade_record as rec
        WHERE 1=1
        <if test="record_Id !=null and record_Id != ''">
            and record_Id = #{record_Id, jdbcType=INTEGER}
        </if>
        and tem.templet_Id = rec.templet_Id
        ORDER BY resId, r_time
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <select id="countGetAll" resultType="Integer" parameterType="map">
        select count(1)
        from tp_grade_record
        where 1=1
        <if test="record_Id !=null and record_Id != ''">
            and record_Id = #{record_Id, jdbcType=INTEGER}
        </if>
    </select>

    <delete id="del" parameterType="java.lang.Integer">
        delete from tp_grade_record
        where record_Id = #{record_Id, jdbcType=INTEGER}
    </delete>

    <select id="findByRecord_Id" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tp_grade_record
        where record_Id = #{record_Id, jdbcType=INTEGER}
    </select>

    <update id="updateStatus" parameterType="com.gameloft9.demo.dataaccess.model.system.TpGraderecord">
        update tp_grade_record
        set
        templet_Id = #{templet_Id, jdbcType=INTEGER},
        r_time = #{r_time, jdbcType=TIMESTAMP},
        resId = #{resId, jdbcType=INTEGER}
        where
        record_Id = #{record_Id, jdbcType=INTEGER};
    </update>

    <select id="getStatus" resultMap="ResResultMap">
        select
        id,
        resName
        from tp_resourcelist res, tp_grade_record rec
        where res.id between 35 and 36
    </select>
    
    <insert id="addjilu" parameterType="com.gameloft9.demo.dataaccess.model.system.TpGraderecord"
            useGeneratedKeys="true" keyProperty="record_Id">
        insert into tp_grade_record (templet_Id, r_time, resId)
        values (#{templet_Id}, #{r_time}, #{resId });
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from tp_grade_record
        where templet_Id = #{templet_Id}
    </delete>

    <select id="findRecId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select
        record_Id
        from
        tp_grade_record
        where
        templet_Id = #{templet_Id}
    </select>

    <select id="findtemid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select
        templet_Id
        from tp_grade_record
        where record_Id = #{record_Id}
    </select>

</mapper>