<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.TpGradeStatisticsMapper">

    <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.system.TpGradeStatistics">
        <id column="statistics_Id" property="statistics_Id" jdbcType="INTEGER"/>
        <result column="recordId" property="recordId" jdbcType="INTEGER"/>
        <result column="answer_Id" property="answer_Id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">

        statistics_Id, record_Id, answer_Id, uid

    </sql>

    <insert id="addSta" parameterType="com.gameloft9.demo.dataaccess.model.system.TpGradeStatistics">
        insert into
        tp_grade_statistics (record_Id, answer_Id, uid)
        values
        (#{record_Id}, #{answer_Id}, #{uid});
    </insert>

    <select id="getAnsId" resultType="java.lang.Integer">
        select
        answer_Id
        from tp_grade_statistics
        where
        record_Id = #{record_Id}
    </select>

    <delete id="del" parameterType="java.lang.Integer">
        delete from tp_grade_statistics
        where
        record_Id = #{record_Id}
    </delete>

</mapper>